*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0%;
    background: linear-gradient(to bottom, #1b1b1b, #161616 );
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 4px;
    outline:none;
    background-color: rgba(178, 239, 243, 0.486);
    
    background: radial-gradient(circle, #ffffff, #b1b1b1)
}

.calculator-grid > button:hover{
    background: radial-gradient(circle, #b1b1b1, #ffffff)

}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #00000083;
    
    border: 1px solid white;
    border-radius: 10px;
    margin: 4px;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;

    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.842);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}